html, body {
    height: 100%; margin: 0; padding: 0; overflow: hidden;
}

#cesiumContainer {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px;
}

main {
    background: rgba(0,0,0,0.75);
    border: 1px solid #aaa;
    padding: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 480px;
    width: 360px;
    color: #fff;
    z-index: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

button {
    padding: 6px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    margin: 6px;
    border: 1px solid #222;
}

button:hover {
    cursor: pointer;
    background-color: #eee;
}

input {
    border-radius: 5px;
}

form {
    padding:0px;
}

form tr > td:first-child {
    width: 250px;
}

form tr input {
    width: 100px;
}

#form-nav {
    margin: -1px;
    background: #aaa;
}

form a {
    display: inline-block;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin: 0px;
    text-decoration: none;
}

form a.selected {
    background: #fff;
}

form a:hover {
    background: #ccc;
    color: #000;
}

form table {
    padding: 5px;
    display: none;
}

form table.selected {
    display: table;
}